<!DOCTYPE html>
{% extends 'blog_app/base.html' %}
{% block body_block %}
<div id="about">
    <h1>About this Website</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia quasi tempore nesciunt reprehenderit necessitatibus fuga, tempora delectus dolorem quibusdam dolores eaque porro pariatur alias nulla suscipit ipsum. Optio, corrupti? Nulla ab adipisci, rerum harum corporis facilis? Esse reiciendis ipsa, omnis porro in dolore maiores dolorum?</p>
    <h5>Thank You for visiting!</h5>
</div>
{% endblock %}