{% extends 'blog_app/base.html' %}
{% block body_block %}
<div id="draft">
    <h1>Drafts</h1>
    {% if draft_list %}
    {% for post in draft_list %}
    <div class="post">
        <h1><a href="{% url 'blog_app:post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <p class="date">Created: {{ post.create_date|date:"d-m-Y" }}</p>
        <p>{{ post.text|truncatechars:200 }}</p>
    </div>
    {% endfor %}
    {% else %}
    <p>No drafts uploaded.</p>
    {% endif %}
</div>
{% endblock %}