{% extends 'blog_app/base.html' %}
{% block body_block %}
<div id="login">
    <div class="log-container">
        <h2 class="login-heading">Login</h2>
        <form method="post" action="{% url 'user_login' %}">
            {% csrf_token %}
            <div class="userName field">
                <label for="username">Username: </label>
                <input type="text" name="username" id="username" required placeholder="Enter username"
                    autocomplete="off">
            </div>
            <div class="passWord field">
                <label for="password">Password: </label>
                <input type="password" name="password" id="password" required placeholder="Enter password"
                    autocomplete="off">
            </div>
            <div class="remember-chk">
                <input type="checkbox" name="remember_me" id="remember_me">
                <label for="remember_me">Remember Me</label>
            </div>
            <div class="sub-button">
                <button type="submit">Login</button>
            </div>
        </form>
        <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
        <p>Want to enter as a guest? <a href="{% url 'blog_app:post_list' %}">Guest Login</a></p>
    </div>
</div>
{% endblock %}